@import 'tailwindcss';

/* 기본 스타일 */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  padding: 0;
}
html {
  background-color: #ffffff;
}
