@import 'tailwindcss';

/* 기본 스타일 */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  padding: 0;
}
html {
  background-color: #ffffff;
}

/* 텍스트 롤링 애니메이션 */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out;
}
